<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ujn.diaock.system.mapper.UjnCaseMapper">
    
    <resultMap type="UjnCase" id="UjnCaseResult">
        <result property="caseId"    column="case_id"    />
        <result property="groupId"    column="group_id"    />
        <result property="casePrice"    column="case_price"    />
        <result property="caseThumb"    column="case_thumb"    />
        <result property="producetime"    column="ProduceTime"    />
        <result property="havefile"    column="haveFile"    />
        <result property="area"    column="Area"    />
        <result property="department"    column="Department"    />
        <result property="dataname"    column="DataName"    />
        <result property="dataformat"    column="DataFormat"    />
        <result property="description"    column="Description"    />
        <result property="resolution"    column="Resolution"    />
        <result property="topleftlatitude"    column="TopLeftLatitude"    />
        <result property="topleftlongitude"    column="TopLeftLongitude"    />
        <result property="bottomleftlatitude"    column="BottomLeftLatitude"    />
        <result property="bottomleftlongitude"    column="BottomLeftLongitude"    />
        <result property="toprightlatitude"    column="TopRightLatitude"    />
        <result property="toprightlongitude"    column="TopRightLongitude"    />
        <result property="bottomrightlatitude"    column="BottomRightLatitude"    />
        <result property="bottomrightlongitude"    column="BottomRightLongitude"    />
        <result property="centerlatitude"    column="CenterLatitude"    />
        <result property="centerlongitude"    column="CenterLongitude"    />
    </resultMap>

    <sql id="selectUjnCaseVo">
        select case_id, group_id, case_price, case_thumb, ProduceTime, haveFile, Area, Department, DataName, DataFormat, Description, Resolution, TopLeftLatitude, TopLeftLongitude, BottomLeftLatitude, BottomLeftLongitude, TopRightLatitude, TopRightLongitude, BottomRightLatitude, BottomRightLongitude, CenterLatitude, CenterLongitude from ujn_case
    </sql>

    <select id="selectUjnCaseList" parameterType="UjnCase" resultMap="UjnCaseResult">
        <include refid="selectUjnCaseVo"/>
        <where>  
            <if test="groupId != null "> and group_id = #{groupId}</if>
            <if test="casePrice != null "> and case_price = #{casePrice}</if>
            <if test="caseThumb != null  and caseThumb != ''"> and case_thumb = #{caseThumb}</if>
            <if test="producetime != null  and producetime != ''"> and ProduceTime = #{producetime}</if>
            <if test="havefile != null  and havefile != ''"> and haveFile = #{havefile}</if>
            <if test="area != null  and area != ''"> and Area = #{area}</if>
            <if test="department != null  and department != ''"> and Department = #{department}</if>
            <if test="dataname != null  and dataname != ''"> and DataName like concat('%', #{dataname}, '%')</if>
            <if test="dataformat != null  and dataformat != ''"> and DataFormat = #{dataformat}</if>
            <if test="description != null  and description != ''"> and Description = #{description}</if>
            <if test="resolution != null  and resolution != ''"> and Resolution = #{resolution}</if>
            <if test="topleftlatitude != null "> and TopLeftLatitude = #{topleftlatitude}</if>
            <if test="topleftlongitude != null "> and TopLeftLongitude = #{topleftlongitude}</if>
            <if test="bottomleftlatitude != null "> and BottomLeftLatitude = #{bottomleftlatitude}</if>
            <if test="bottomleftlongitude != null "> and BottomLeftLongitude = #{bottomleftlongitude}</if>
            <if test="toprightlatitude != null "> and TopRightLatitude = #{toprightlatitude}</if>
            <if test="toprightlongitude != null "> and TopRightLongitude = #{toprightlongitude}</if>
            <if test="bottomrightlatitude != null "> and BottomRightLatitude = #{bottomrightlatitude}</if>
            <if test="bottomrightlongitude != null "> and BottomRightLongitude = #{bottomrightlongitude}</if>
            <if test="centerlatitude != null "> and CenterLatitude = #{centerlatitude}</if>
            <if test="centerlongitude != null "> and CenterLongitude = #{centerlongitude}</if>
        </where>
    </select>
    
    <select id="selectUjnCaseById" parameterType="Long" resultMap="UjnCaseResult">
        <include refid="selectUjnCaseVo"/>
        where case_id = #{caseId}
    </select>
        
    <insert id="insertUjnCase" parameterType="UjnCase" useGeneratedKeys="true" keyProperty="caseId">
        insert into ujn_case
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="groupId != null">group_id,</if>
            <if test="casePrice != null">case_price,</if>
            <if test="caseThumb != null">case_thumb,</if>
            <if test="producetime != null">ProduceTime,</if>
            <if test="havefile != null">haveFile,</if>
            <if test="area != null">Area,</if>
            <if test="department != null">Department,</if>
            <if test="dataname != null">DataName,</if>
            <if test="dataformat != null">DataFormat,</if>
            <if test="description != null">Description,</if>
            <if test="resolution != null">Resolution,</if>
            <if test="topleftlatitude != null">TopLeftLatitude,</if>
            <if test="topleftlongitude != null">TopLeftLongitude,</if>
            <if test="bottomleftlatitude != null">BottomLeftLatitude,</if>
            <if test="bottomleftlongitude != null">BottomLeftLongitude,</if>
            <if test="toprightlatitude != null">TopRightLatitude,</if>
            <if test="toprightlongitude != null">TopRightLongitude,</if>
            <if test="bottomrightlatitude != null">BottomRightLatitude,</if>
            <if test="bottomrightlongitude != null">BottomRightLongitude,</if>
            <if test="centerlatitude != null">CenterLatitude,</if>
            <if test="centerlongitude != null">CenterLongitude,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="groupId != null">#{groupId},</if>
            <if test="casePrice != null">#{casePrice},</if>
            <if test="caseThumb != null">#{caseThumb},</if>
            <if test="producetime != null">#{producetime},</if>
            <if test="havefile != null">#{havefile},</if>
            <if test="area != null">#{area},</if>
            <if test="department != null">#{department},</if>
            <if test="dataname != null">#{dataname},</if>
            <if test="dataformat != null">#{dataformat},</if>
            <if test="description != null">#{description},</if>
            <if test="resolution != null">#{resolution},</if>
            <if test="topleftlatitude != null">#{topleftlatitude},</if>
            <if test="topleftlongitude != null">#{topleftlongitude},</if>
            <if test="bottomleftlatitude != null">#{bottomleftlatitude},</if>
            <if test="bottomleftlongitude != null">#{bottomleftlongitude},</if>
            <if test="toprightlatitude != null">#{toprightlatitude},</if>
            <if test="toprightlongitude != null">#{toprightlongitude},</if>
            <if test="bottomrightlatitude != null">#{bottomrightlatitude},</if>
            <if test="bottomrightlongitude != null">#{bottomrightlongitude},</if>
            <if test="centerlatitude != null">#{centerlatitude},</if>
            <if test="centerlongitude != null">#{centerlongitude},</if>
         </trim>
    </insert>

    <update id="updateUjnCase" parameterType="UjnCase">
        update ujn_case
        <trim prefix="SET" suffixOverrides=",">
            <if test="groupId != null">group_id = #{groupId},</if>
            <if test="casePrice != null">case_price = #{casePrice},</if>
            <if test="caseThumb != null">case_thumb = #{caseThumb},</if>
            <if test="producetime != null">ProduceTime = #{producetime},</if>
            <if test="havefile != null">haveFile = #{havefile},</if>
            <if test="area != null">Area = #{area},</if>
            <if test="department != null">Department = #{department},</if>
            <if test="dataname != null">DataName = #{dataname},</if>
            <if test="dataformat != null">DataFormat = #{dataformat},</if>
            <if test="description != null">Description = #{description},</if>
            <if test="resolution != null">Resolution = #{resolution},</if>
            <if test="topleftlatitude != null">TopLeftLatitude = #{topleftlatitude},</if>
            <if test="topleftlongitude != null">TopLeftLongitude = #{topleftlongitude},</if>
            <if test="bottomleftlatitude != null">BottomLeftLatitude = #{bottomleftlatitude},</if>
            <if test="bottomleftlongitude != null">BottomLeftLongitude = #{bottomleftlongitude},</if>
            <if test="toprightlatitude != null">TopRightLatitude = #{toprightlatitude},</if>
            <if test="toprightlongitude != null">TopRightLongitude = #{toprightlongitude},</if>
            <if test="bottomrightlatitude != null">BottomRightLatitude = #{bottomrightlatitude},</if>
            <if test="bottomrightlongitude != null">BottomRightLongitude = #{bottomrightlongitude},</if>
            <if test="centerlatitude != null">CenterLatitude = #{centerlatitude},</if>
            <if test="centerlongitude != null">CenterLongitude = #{centerlongitude},</if>
        </trim>
        where case_id = #{caseId}
    </update>

    <delete id="deleteUjnCaseById" parameterType="Long">
        delete from ujn_case where case_id = #{caseId}
    </delete>

    <delete id="deleteUjnCaseByIds" parameterType="String">
        delete from ujn_case where case_id in 
        <foreach item="caseId" collection="array" open="(" separator="," close=")">
            #{caseId}
        </foreach>
    </delete>
</mapper>